{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div>
      <h2>List of articles</h2>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <form action="{% url 'article-search' %}" method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input class="form-control" placeholder="Search" name="search"/>
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="col-md-4">
          <div class="form-group">
            <select class="form-control">
              <option>Name ascending</option>
              <option>Name descending</option>
              <option>Date ascending</option>
              <option>Date descending</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-6">
          <a href="{% url 'article-create' %}" class="btn btn-success float-right">Create new</a>
        </div>
      </div>
      <br>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Creation date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for a in articles %}
          <tr>
            <td>{{a.name}}</td>
            <td>{{a.create_date}}</td>
            <td>
              <a href="{% url 'article-show' a.id %}" class="btn btn-primary">Show</a>
              <a href="{% url 'article-edit' a.id %}" class="btn btn-light">Edit</a>
              <form action="{% url 'article-delete' a.id %}" method="post" class="inline">
                {% csrf_token %}
                  <button class="btn btn-danger" type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}