{% extends "base.html" %}

{% block content %}
  <br>
  <div class="container">
    <a href="/article/">Back to articles</a>
    <br><br>
    <h2>{{article.name}}</h2>
    <p>Created at {{article.create_date}}</p>
    <hr>
    <p>{{article.content}}</p>

    <br><br>
    <h2>Comments</h2>
    <hr>
    <form action="{% url 'article-comment' article.id %}" method="post">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" name="comment" class="form-control" placeholder="Write a comment">
        <div class="input-group-append">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
    </form>
    <hr>
    {% for c in article.comment_set.all %}
      <p>
        {{c.content}}
        <form class="inline float-right" action="{% url 'article-comment-delete' article.id c.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-link">X</button>
        </form>
      </p>
    {% empty %}
      <p>No comments yet</p>
    {% endfor %}
  </div>
{% endblock content %}